@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {
	margin: 0;
	font-family: 'Poppins', monospace;
}

h1 {
	font-size: 40px;
	font-weight: 500;
	font-style: italic;
}

.content {
	/* background-color: greenyellow; */
	padding: 0 50px 0 50px;
	margin-top: 50px;
}

.home-title {
	margin-bottom: 20px;
}

.navbar {
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 100px 20px 100px;
}

.home {
	/* background-color: blueviolet; */
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.button {
	border: none;
	/* height: 20px;
	width: 40px; */
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 25px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
	background-color: rgb(174, 240, 158);
	font-size: 25px;
}

.button:hover {
	cursor: pointer;
}

.inactive {
	background-color: rgb(156, 156, 156);
}

.inactive:hover {
	cursor: default;
}

.controller {
	width: 100%;
	/* margin-top: 20px; */
}

.controller-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* background-color: violet; */
}

.message-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04aa6d;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #04aa6d;
	cursor: pointer;
}

.move-control {
	display: flex;
	flex-direction: column;
	width: 50%;
	justify-content: space-between;
}

.controller-item {
	margin-bottom: 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-width: 350px;
	padding: 30px;
	border-radius: 15px;
	box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
	background-color: #ebb6b6;
}

.slidecontainer {
	width: 100%;
	/* background-color: greenyellow; */
}
.speed-controller {
	width: 100%;
}

.brightness-controller {
	margin-top: 20px;
	width: 100%;
}

.palette-name {
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	margin: 0 10px 0 10px;
}

.palette-controller-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.dynamic-controller .button {
	margin-bottom: 15px;
}

.button-container {
	display: flex;
}

.button-container .button {
	margin-right: 20px;
	margin-left: 20px;
}

.label {
	font-size: 30px;
	font-weight: 500;
	margin-bottom: 20px;
}

.sub-label {
	font-style: italic;
}

.console {
	padding: 15px 30px 15px 30px;
	align-items: flex-start;
	background-color: #f1e4e7;
	justify-content: flex-start;
	height: 91px;
}

.feedback-item {
	font-family: 'Courier New', Courier, monospace;
	font-variant-numeric: tabular-nums;
	font-size: 1rem;
}

.navy {
	background-color: #142f43;
}
.orange {
	background-color: #ffab4c;
}

.pink {
	background-color: #ff5f7e;
}

.purple {
	background-color: #b000b9;
}

.success {
	color: rgb(12, 146, 12);
}

.failed {
	color: red;
}

@media (max-width: 430px) {
	.controller-item {
		margin-bottom: 10px;
	}

	.console {
		margin-bottom: 0;
	}

	.home-title {
		margin-bottom: 0;
	}

	.content {
		margin-top: 0;
	}
	.label {
		margin-bottom: 15px;
	}
}
